<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="mainSection">
        <h2>Edit Recipe</h2>
        <!-- <div class="recName">
          <h3><%= recipe.name %></h3>
        </div> -->
        <form action="/recipe/<%= recipe.id %>?_method=PUT" method="POST">
          <div class="groupWrapper">
            <div class="leftGroup">
              <label for="name">Recipe Name:</label>
              <input id="name" type="text" value="<%= recipe.name %>" name="name" required />
              <label for="author">Recipe By:</label>
              <input id="author" type="text" value="<%= recipe.author %>" name="author" required />
              <label for="time">Time in Minutes:</label>
              <input id="time" type="number" value="<%= recipe.time %>" name="time" min="1" required />
              <label for="difficulty">Difficulty:</label>
              <input id="difficulty" type="number" value="<%= recipe.difficulty %>" name="difficulty" min="1" max="5" required />
              <label for="protect">Protect Recipe:</label>
              <input id="protect" type="checkbox" name="protect"
                <% if(recipe.protect){ %>
                  checked
                <% } %>
              />
            </div>
            <div class="middleGroup">
              <div class="flexGroup">
                <label for="tags">Tags:</label>
                <div class="pm button" id="moreTags"><h5>MORE</h5></div>
                <div class="pm button" id="lessTags"><h5>LESS</h5></div>
              </div>
              <div class="inputTagsWrapper">
                <input id="tags" type="text" name="tags" value="<%= recipe.tags[0] %>" required />
                <% for(let i = 1; i < recipe.tags.length; i++){ %>
                  <input id="tags" type="text" name="tags" value="<%= recipe.tags[i] %>" />
                <% } %>
              </div>
            </div>
            <div class="rightGroup">
              <div class="flexGroup">
                <label for="ingredients">Ingredients:</label>
                <div class="pm button" id="moreIng"><h5>MORE</h5></div>
                <div class="pm button" id="lessIng"><h5>LESS</h5></div>
              </div>
              <div class="inputIngredientsWrapper">
                <input id="ingredients" type="text" name="ingredients" value="<%= recipe.ingredients[0] %>" required />
                <% for(let i = 1; i < recipe.ingredients.length; i++){ %>
                  <input id="ingredients" type="text" name="ingredients" value="<%= recipe.ingredients[i] %>" />
                <% } %>
              </div>
            </div>
          </div>
          <label for="description">A Short Description:</label>
          <input id="description" type="text" value="<%= recipe.description %>" name="description" required />
          <div class="flexGroup">
            <label for="images">Image URL:</label>
            <div class="pm button" id="moreImages"><h5>MORE</h5></div>
            <div class="pm button" id="lessImages"><h5>LESS</h5></div>
          </div>
          <div class="inputImagesWrapper">
            <input id="images" type="text" name="images" value="<%= recipe.images[0] %>" required />
            <% for(let i = 1; i < recipe.images.length; i++){ %>
              <input id="images" type="text" name="images" value="<%= recipe.images[i] %>" />
            <% } %>
          </div>
          <div class="flexGroup">
            <label for="directions">Directions:</label>
            <div class="pm button" id="moreDirections"><h5>MORE</h5></div>
            <div class="pm button" id="lessDirections"><h5>LESS</h5></div>
          </div>
          <div class="inputDirectionsWrapper">
            <input id="directions" type="text" name="directions" value="<%= recipe.directions[0] %>" required />
            <% for(let i = 1; i < recipe.directions.length; i++){ %>
              <input id="directions" type="text" name="directions" value="<%= recipe.directions[i] %>" />
            <% } %>
          </div>
          <input class="editButton button" type="submit" value="Submit Changes">
        </form>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</html>
