<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ../partials/nav.ejs %>
      <div class="mainSection">
        <h2>Let's Cook</h2>
        <div class="showRecipe">
          <div class="recName">
            <h3><%= recipe.name %></h3>
          </div>
          <div class="pictureCar">
            <% if(recipe.images.length > 0){ %>
              <div class="arrowWrapper">
                <div class="leftRotate">
                </div>
              </div>
            <% } %>
            <img src="<%= recipe.images[0] %>">
            <% if(recipe.images.length > 0){ %>
              <div class="arrowWrapper">
                <div class="rightRotate">
                </div>
              </div>
            <% } %>
          </div>
          <p><%= recipe.time %></p>
          <p><%= recipe.difficulty %></p>
          <p><%= recipe.arthor %></p>
          <p><%= recipe.descrition %></p>
          <p><%= recipe.images %></p>
          <p><%= recipe.ingredients %></p>
          <p><%= recipe.directions %></p>
          <p><%= recipe.ratings %></p>
          <p><%= recipe.avgRating %></p>
          <p><%= recipe.protect %></p>
          <p><%= recipe.tags %></p>
        </div>
      </div>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</html>
